/* ================================头部样式 */
.header {
    width: 100%;
    margin: 0 auto;
}
.header .top{
    width:990px;
    margin:0 auto;
    font-size:12px;
}

/* 清浮动代码 */
.clearfix:after{
    content:".";
    display:block;
    clear:both;
    height: 0;
    visibility:hidden;
} 
/* =====================欢迎登陆列 */
.header .top-info{
    width: 100%;
    background-color: rgb(252,252,252);
    border-bottom:1px solid #edeef0;
}
.header .left{
    width: 300px;
    height: 33px;
    float:left;
    line-height:33px;
    color:gray;
}

.header .top-info .right a{
    color:black;
}
.header .top-info .right .li-finally span{
    color:rgb(255, 120, 0);
}
.header .top-info .right li:hover > a{
    color:rgb(255, 120, 0);
}
.header .top-info .right .li-top:hover .right-list{
    display:block;
}
.header .right{
    float:right;
    width: 480px;
    height: 33px;
    line-height:33px;
}
.header .right li{
    float:left;
    width: 120px;
    height: 33px;
    text-align:center;
    position: relative;
}
.header .right .li1{
    background: url(../images/img5/user.png) no-repeat 12px 8px;
}
.header .right .li1:hover{
    background: url(../images/img5/user1.png) no-repeat 12px 8px;
}
.header .right .li2{
    background: url(../images/img5/购物车.png) no-repeat 12px 8px;
}
.header .right .li2:hover{
    background: url(../images/img5/购物车1.png) no-repeat 12px 8px;
}
.header .right .li3{
    background: url(../images/img5/心形.png) no-repeat 12px 8px;
}
.header .right .li3:hover{
    background: url(../images/img5/心形1.png) no-repeat 12px 8px;
}
/* ============================悬停出现在线客服 */
.header .right .li4 .telephone{
    width: 243px;
    background-color: white;
    position: absolute;
    top: 33px;
    left: -125px;
    border: 1px solid #edeef0;
    z-index: 1;
    display: none;
}
.header .right .li4:hover .telephone{
    display: block;
}
.header .right .li4 .mail{
    width: 219px;
    height: 128px;
    border-bottom: 1px solid #edeef0;
    margin:0 12px;
    padding-bottom: 5px;
    background: url(../images/img5/ingge-1.0.1.png) no-repeat 9px 16px;
    background-size:100px 100px;
}
.header .right .li4 .mail .contact{
    width: 135px;
    height: 67px;
    float:right;
    margin-top:62px; 
    margin-right:25px; 
}

.header .right .li4 .mail .p1{
    width: 80px;
    height: 30px;
    background-color:rgb(255, 120, 0);
    float:right;
    border-radius: 30px;
    font-size: 14px;
    line-height: 30px;
    color:white;
}
.header .right .li4 .mail .p2{
    width: 135px;
    height: 28px;
    line-height: 28px;
    float:left;
    color:gray;
    margin-top: 7px;
}
.header .right .li4 .mobile{
    width: 219px;
    height: 90px;
    /* background-color: black; */
    border-bottom: 1px solid #edeef0;
    margin: 0 12px; 
}
.header .right .li4 .mobile .contImg{
    width: 60px;
    height: 60px;
    float:left;
    padding: 16px 0;
}
.header .right .li4 .mobile .contTim{
    width: 159px;
    height: 56px;
    float:left;
    padding: 18px 0;

}
.header .right .li4 .mobile .contTim .p1{
    font-size: 16px;
    color: #ff6600;
    margin-bottom: -10px;
    font-weight:bold;
}
.header .right .li4 .wechat{
    width: 204px;
    height: 73px;
    margin: 0 12px;
    padding: 15px 0 15px 15px;
}
.header .right .li4 .wechat .left{
    width: 45px;
    height: 46px;
    margin-top: 20px;
    margin-right: 20px;
    float: left; 
}
.header .right .li4 .wechat .middle{
    width: 48px;
    height: 34px;
    margin-top: 20px; 
    float: left; 
    color:gray;
}
.header .right .li4 .wechat .p1{
    margin-bottom: -17px;
    margin-top: -5px;
}
.header .right .li4 .wechat .right{
    width: 79px;
    height: 79px;
    float: right;
}
.header .top-info .right-list{
    width: 120px;
    height: 124px;
    background-color: white;
    position: absolute;
    top: 33px;
    left: 0;
    z-index: 10;
    display: none;
}
.header .top-info .right-list li{
    width: 103px;
    height: 31px;
    text-align: left;
    padding-left:15px;
    border:1px solid #edeef0;
}
.header .top-info .right-list li:hover a{
    color:rgb(255, 120, 0);
}
.header .right .img2{
    width: 14px;
    height: 15px;
    background-color:rgb(255, 120, 0);
    border-top-left-radius:50%; 
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    position:absolute;
    top:1px;
    right:0;
}
.header .right .img2 div{
    color:white;
    line-height: 14px;
}
.header .right img{
    padding:1px;
    vertical-align: middle;
}
.header .login .search-list a{
    color:black;
}
.header .login .search-list a:hover{
    color: rgb(255, 120, 0);
}
/* 头部样式结束 */

/* ======================主体部分开始 */
/* log订单状态部分开始 */
.main {
    width: 100%;
    margin: 0 auto;
}
.main .log-box {
    width: 990px;
    height: 100px;
    margin: 0 auto;
}
.main .log-left {
    float: left;
    width: 220px;
    height: 75px;
}
.main .log-left a {
    display: inline-block;
    width: 220px;
    height: 75px;
}
.main .log-left img {
    width: 220px;
    height: 75px;
}
.main .log-right {
    width: 662px;
    height: 35px;
    float: right;
    margin-top: 30px;
    background: url(../images/img5/ico_20140721-1.0.0.png) no-repeat 0 -126px;
}
.main .log-right {
    width: 662px;
    height: 35px;
    float: right;
    margin-top: 30px;
    background: url(../images/img5/ico_20140721-1.0.0.png) no-repeat 0 -126px;
}
.main .log-right div {
    width: 218px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    float: left;
}
.main .log-right div:nth-child(2) {
    width: 218px;
    height: 35px;
    color: white;
}
/* log订单状态部分结束 */

/* 核对订单开始 */
.main .indent{
    width: 990px;
    height: 364px;
    margin: 0 auto;
}
.main .verify{
    width: 990px;
    height: 56px;
    font-size: 18px;
    line-height: 56px;
}
.main .site-box {
    width: 990px;
    height: 80px;
    margin: 0 auto;
}
.main .site-box .site {
    width: 990px;
    height: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.main .site-box .site span:first-child{
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    text-align: center;
    line-height: 18px;
    background: #0FADFF;
    color: white;
    border-radius: 50%;
}
.main .site-box .newly {
    width: 115px;
    height: 28px;
    border: 1px solid gray;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
}
.main .site-box .newly:hover {
    border: 1px solid #ff6600;
    color: #ff6600;
}
.main .site-box .site span:nth-child(2){
    color:#ff6600;
}
.main .site-box .method {
    width: 98px;
    height: 28px;
    border: 1px solid gray;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    margin-left: 25px;
    float: left;
    box-sizing: border-box;
}
/* =============================需改为点击效果 */
.main .site-box .method:hover {
    border: 2px solid #ff6600;
    background: url(../images/img5/selected_icon-1.0.0.png) no-repeat 0 0;
    background-position: 100% 100%;
    line-height: 26px;
}
.main .site-box .method2 {
    width: 400px;
    margin-left: 10px;
}
.main .site-box .method3 {
    width: 98px;
    margin-left: 10px;
}
/* 核对订单结束 */

/* 点击出现地址设置部分 */
html,body {
    width: 100%;
    height: 100%;
}
.main .locationHide-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    /* display: none; */
}
.main .location-box {
    width: 680px;
    height: 720px;
    background: white;
    position: absolute;
    left: 50%;
    margin-top: -360px;
    top: 50%;
    margin-left: -340px;
    border: 2px solid gray;
} 
.main .location-box .location {
    width: 660px;
    height: 54px;
    font-size: 16px;
    padding-left: 20px;
    line-height: 54px;
    border-bottom: 1px dashed #edeef0;
} 
.main .location-down {
    width: 680px;
    height: 675px;
    box-sizing: border-box;
    padding: 25px 45px 45px 45px;
}
.main .loc span{
    width: 615px;
    height: 56px;
    padding-top: 10px;
}










